<link rel="stylesheet" type="text.css" href="/index.css">


<html>
<head>
	<h1 class=headers> World Cup 2014</h1>	
  	<title>World Cup Game Scores!</title>
</head>

<body>
	<img src="http://imageion.net/wp-content/uploads/2014/06/miguel-veloso-images.jpg">
	<img src="http://upload.wikimedia.org/wikipedia/commons/9/96/Miguel_Veloso_20120609.jpg">
	<img src="http://cdn.images.express.co.uk/img/dynamic/67/590x/neymar-448189.jpg">
	<img src="http://e2.365dm.com/13/08/800x600/premier-olivier-giroud-arsenal-aston-villa-league_2991019.jpg?20130822104727">
	<img src="http://informationng.com/wp-content/uploads/2014/03/Jahanbakhsh.jpg">
	<img src="http://i2.wp.com/www.teammelli.com/wp-content/uploads/2014/05/jahanbakhsh-nec11.jpg">
	<img src="http://l2.yimg.com/bt/api/res/1.2/FwPfxe3gY6r_UGJj35veeg--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTQyMTtweG9mZj01MDtweW9mZj0wO3E9NzU7dz03NDk-/http://media.zenfs.com/en_US/Sports/AP_Soccer/201403040607220567414-p5.jpg">
	<p class=text> Game Scores for Today!! <%= @game.get_game_status %> </p>
	<img src="http://wc2014-prod.s3.amazonaws.com/img/2014_06_02/800/600/2014-06-02T204514Z_2_GM1EA620D2201_RTRMADP_TRX_SOCCER-WORLD.JPG">
	<img src="http://greece.greekreporter.com/files/greek-soccer-players-celebrating.jpg">
	<img src="http://www2.pictures.zimbio.com/gi/Cristiano+Ronaldo+Miguel+Veloso+UEFA+EURO+tRpiwnw3Njxl.jpg">
	<img src="http://blog.newscom.com/wp-content/uploads/2013/06/neymar-scores.jpg">
	<img src="http://www.gannett-cdn.com/-mm-/b77ff926f3de0db4197f6f9f170bdc03068c9b4b/c=22-0-1853-2441&r=537&c=0-0-534-712/local/-/media/AsburyPark/2014/06/16/soccer-worldm11-arg-bih.jpg">
	<img src="http://www.scotsman.com/webimage/1.3070763.1378081017!/image/1717348010.jpg_gen/derivatives/articleImgDeriv_628px/1717348010.jpg">
	<img src="http://www.neymarjr.net/wp-content/uploads/2013/07/neymar-brazil-wallpaper-confederations-cup-2013.jpg">
	<img src="http://www1.theladbible.com/images/content/53a98b20417d7.jpg">
	<img src="http://storage.lfpress.com/v1/dynamic_resize/sws_path/suns-prod-images/1297576342040_ORIGINAL.jpg?quality=80&size=650x&stmp=1403740008128">


</body>
</html>


